/* You can add global styles to this file, and also import other style files */
body {
  background: linear-gradient(to right, #ffcc00, #ff6600, #ff3300);
  height: 100vh; /* Make the background cover the entire height of the viewport */
  margin: 0; /* Remove default margins */
}

div {
  margin: 0;
}
